$enable-rounded: false !default;
$input-btn-focus-color: none !default;

@import "node_modules/bootstrap/scss/bootstrap";
body {
  min-height: 100vh;
  background-color: #fff;
}
.left-panel {background-color: $gray-100;min-height: 100vh;}
.right-panel { min-height: 100vh;background-color: #F4F4FC;padding: 0 2rem;}
label{font-weight: 500;cursor: pointer;margin-bottom: 0.25rem;}
.accordion-button{
  width: 100%;border: none;background: white;
  h6{margin: 0}
  .text-description{font-size: 12px;text-transform: capitalize;margin-bottom: 10px;}
}
.accordion-header{background: white;padding: 10px;border-radius: 15px;}
.accordion-header:hover{box-shadow: rgb(0 0 0 / 12%) 0px 5px 10px 0px;}
.accordion {background-color: #fff;margin-bottom: 10px;}
.accordion-collapse{ padding: 1rem;}
pre{font-family: inherit;}
.center-block{
  width: 400px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    background-image: url(https://img.icons8.com/ios/344/expand-arrow--v2.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Poppins', sans-serif;
}
.display-4{font-size: 2rem;}